<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
    Thanks for your definition of <%= @word %>!
    </p>
    <p>
    There's one more step: click this link to confirm the definition.
    </p>
    <p>
    <%= @confirm_url %>
    </p>
    <p>
    (if the link is not underlined, you may have to copy and paste it
    into your web browser.)
    </p>
    <p>If you didn't request this email, please ignore it.</p>
    <p>城市词典</p>
  </body>
</html>
