= render :partial => 'shared/letter_menu'

-if @definition_list
  %ol.definitions
    -@definition_list.each do |d|
      %li
        %p.header
          =d.word
          %br
          =d.pinyin
        %p
          =d.definition
          %br
          %i
            =d.example
          %hr
-else
  "#{params[:word]}"
  not defined
  = link_to "yet", new_definition_path(:word => params[:word])
