-if !@definitions.nil? && !@definitions.empty?
  = render :partial => 'definitions/definitions', :object => @definitions, :locals => { :show_votes => true }
-else
  .chinese= params[:word]
  not defined
  = link_to "yet", new_definition_path(:word => params[:word])
