= render :partial => 'shared/letter_menu'

%h3
  -if @definition
    =@definition.word
  -else
    "#{params[:word]}"
    not defined
    = link_to "yet", new_definition_path(:word => params[:word])

=params
