-if !@definitions.nil? && !@definitions.empty?
  = render :partial => 'shared/definitions'
-else
  .chinese= params[:word]
  not defined
  = link_to "yet", new_definition_path(:word => params[:word])
