.row.definitions
  .span3
    .chinese
      =definition.word
    .pinyin
      =definition.pinyin
  .span4
    =definition.definition
  .span4
    .example
      =definition.example
  .span1
    voting
%hr
