-#:show_votes determines wheither or not to show voting buttons

-# default to hiding vote buttons
- show_votes = false unless show_votes

.row.definitions
  .span3
    .chinese
      =definition.word
    .pinyin
      =definition.pinyin
  .span4
    =simple_format definition.definition
  .span4
    .example
      =simple_format definition.example
  .span1
    -if show_votes
      .voting
        .up
          = image_tag asset_path('vote_up.png')
        .score
          = [*23..80][rand([*23..80].size)]
        .down
          = image_tag asset_path('vote_down.png')
    -else
      &nbsp;
%hr
