-if @definition
  .alert.alert-info
    %h2 Reviewing Submission

    Editors are reviewing your entry.

  = render :partial => 'definitions/definitions', :object => [@definition]
-else
  .alert.alert-error
    %h2 Sorry!

    Your entry could not be found. Please 
    %strong click the email link 
    sent to you.
