= render :partial => 'shared/letter_menu'

.home_alert.alert
  Chenshi Cidian is the dictionary
  %strong you wrote.

  %i Define your world.

%ol.definitions
  %li
    = render :partial => 'shared/definition', :locals => { :definition => @random_definition }
  %hr
