// Place all the styles related to the Definitions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.definitions_header {
  font-size: 13px * 1.2;
}

.review {
  font-size: 1.2em;
  text-align: center;

  .btn {
    margin-left: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
